<% 
const now = new Date().getFullYear();
const since = theme.footer.since === now ? theme.footer.since : `${theme.footer.since} - ${now}`

const custom = theme.footer.custom || config.subtitle
%>

<footer class="footer main-width">
  <div class="copyright">
    &copy; <%= now %>
    <%= config.author %>
  </div>
  <div class="framework-info">
    <span>Powered by</span>
    <a href="https://hexo.io" target="_blank">Hexo</a>
    <span class="footer-separator">|</span>
    <span>Hosted on</span>
    <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
  </div>
</footer>